Alexander Ishmuradov <ishmuradov@gmail.com> <_chewits_@bk.ru>
Bob Clough <bob@clough.me> <parag0n@dev1.dataspire.co.uk>
Damien Regad <dregad@mantisbt.org> <dr_mantis@regad.org>
Damien Regad <dregad@mantisbt.org> <damien.regad@merckgroup.com>
David Hicks <d@hx.id.au> <hickseydr@optusnet.com.au>
Jan Müller <muller.jan@gmail.com> rattkin
Johannes Goehr <johannes.goehr@mobilexag.de> goehr
John Reese <john@noswap.com> <jreese@leetcode.net>
Jose Ramon Roca <jrroca@pobox.com> jrroca
Jose Ramon Roca <jrroca@pobox.com> <root@sistemas.nebrija.es>
Michael Lorer <info@01-scripts.de> 01-Scripts
Philipp Beckmann <pab@pabnet.de> <philippbeckmann@pabnet.de>
Philipp Schaefer <philipp.schaefer@durag-data.de> philippschaefer
Ren Wei (任卫) <renwei@mergesecrity.com> renwei
Rodrigo Farias <rodrigof@pwbank.com> <rodrigofarias77@gmail.com>
Roland Becker <roland@atrol.de> atrol
Sébastien Rombauts <sebastien.rombauts@gmail.com> <sebastien.rombauts@mail.com>
Victor Boctor <vboctor@gmail.com> <victor@mantishub.net>
